<h1>Prestations#new</h1>
<p>Find me in app/views/prestations/new.html.erb</p>
<%= simple_form_for [@client,@prestation] do |f|%>
  <%= f.input :code %>
  <%= f.input :n_devis %>
  <%= f.button :submit %>
<% end %>
